<!DOCTYPE html>
<html lang="en"
      dir="ltr">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>ExaLearn | Faculty Dashboard</title>

        <!-- Prevent the demo from appearing in search engines -->
        <meta name="robots"
              content="noindex">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">

        <link href="https://fonts.googleapis.com/css8f03.css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&amp;display=swap"
              rel="stylesheet">

        <!-- Preloader -->
        <link type="text/css"
              href="static/vendor/spinkit.css"
              rel="stylesheet">

        <!-- Perfect Scrollbar -->
        <link type="text/css"
              href="static/vendor/perfect-scrollbar.css"
              rel="stylesheet">

        <!-- Material Design Icons -->
        <link type="text/css"
              href="static/css/material-icons.css"
              rel="stylesheet">

        <!-- Font Awesome Icons -->
        <link type="text/css"
              href="static/css/fontawesome.css"
              rel="stylesheet">

        <!-- Preloader -->
        <link type="text/css"
              href="static/css/preloader.css"
              rel="stylesheet">

        <!-- App CSS -->
        <link type="text/css"
              href="static/css/app.css"
              rel="stylesheet">

    </head>

    <body class="layout-boxed ">

        <div class="preloader">
            <div class="sk-chase">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
            </div>

        </div>

        <!-- Drawer Layout -->

        <div class="mdk-drawer-layout js-mdk-drawer-layout"
             data-push
             data-responsive-width="992px">
            <div class="mdk-drawer-layout__content page-content">

                <!-- Header -->

                <!-- Navbar -->

                <div class="navbar navbar-expand pr-0 navbar-dark navbar-dark-pickled-bluewood navbar-shadow"
                     id="default-navbar"
                     data-primary>

                    <!-- Navbar Toggler -->

                    <button class="navbar-toggler w-auto mr-16pt d-block d-lg-none rounded-0"
                            type="button"
                            data-toggle="sidebar">
                        <span class="material-icons">short_text</span>
                    </button>

                    <!-- // END Navbar Toggler -->

                    <!-- Navbar Brand -->

                    <a href="index.html"
                       class="navbar-brand mr-16pt d-lg-none">

                        <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">

                            <span class="avatar-title rounded bg-primary"><img src="static/images/illustration/student/128/white.svg"
                                     alt="logo"
                                     class="img-fluid" /></span>

                        </span>

                        <span class="d-none d-lg-block">ExaLearn</span>
                    </a>

                    <!-- // END Navbar Brand -->

                    <span class="d-none d-md-flex align-items-center mr-16pt">

                        <span class="avatar avatar-sm mr-12pt">

                            <span class="avatar-title rounded navbar-avatar"><i class="material-icons">trending_up</i></span>

                        </span>

                        <small class="flex d-flex flex-column">
                            <strong class="navbar-text-100">Enrollments</strong>
                            <span class="navbar-text-50">12.3k</span>
                        </small>
                    </span>
                    <span class="d-none d-md-flex align-items-center mr-16pt">

                        <span class="avatar avatar-sm mr-12pt">

                            <span class="avatar-title rounded navbar-avatar"><i class="material-icons">receipt</i></span>

                        </span>

                        <small class="flex d-flex flex-column">
                            <strong class="navbar-text-100">Courses</strong>
                            <span class="navbar-text-50">264</span>
                        </small>
                    </span>


                    <div class="flex"></div>

                    <!-- Navbar Menu -->

                    <div class="nav navbar-nav flex-nowrap d-flex mr-16pt">

                        <div class="nav-item dropdown">
                            <a href="#"
                               class="nav-link d-flex align-items-center dropdown-toggle"
                               data-toggle="dropdown"
                               data-caret="false">

                                <span class="avatar avatar-sm mr-8pt2">

                                    <span class="avatar-title rounded-circle bg-primary"><i class="material-icons">account_box</i></span>

                                </span>

                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-header"><strong>Account</strong></div>
                                <a class="dropdown-item"
                                   href="edit-account.html">Edit Account</a>
                                <a class="dropdown-item"
                                   href="billing.html">Billing</a>
                                <a class="dropdown-item"
                                   href="billing-history.html">Payments</a>
                                <a class="dropdown-item"
                                   href="login.html">Logout</a>
                            </div>
                        </div>
                    </div>

                    <!-- // END Navbar Menu -->

                </div>

                <!-- // END Navbar -->

                <!-- // END Header -->

                <div class="pt-32pt">
                    <div class="container-fluid page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                        <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">

                            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                                <h2 class="mb-0">Leaderboard</h2>

                                <ol class="breadcrumb p-0 m-0">
                                    <li class="breadcrumb-item"><a href="index.html">Faculty Dashboard</a></li>

                                </ol>

                            </div>
                        </div>


                    </div>
                </div>

                <!-- BEFORE Page Content -->

                <!-- // END BEFORE Page Content -->

                <!-- Page Content -->

                <div class="container-fluid page__container page__container page-section">
                    <div class="page-separator">
                        <div class="page-separator__text">Top #3</div>
                    </div>

                    <div class="row card-group-row mb-lg-8pt">
                        
                       

                            <div class="card card-group-row__card">
                                <div class="card-body">

                                    <div class="d-flex align-items-center">
                                        <div class="mr-12pt">
                                            <div class="avatar avatar-xl avatar-4by3">
                                                <img src="static/images/paths/invision_200x168.png" style="border-radius: 50%;"
                                                     alt="Avatar"
                                                     class="avatar-img rounded">
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <a href="#" class="card-title">#1   Adarsh</a>
                                            <small class="text-50">325 points</small>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="d-flex align-items-center">
                                        <div class="mr-12pt">
                                            <div class="avatar avatar-xl avatar-4by3">
                                                <img src="static/images/paths/invision_200x168.png" style="border-radius: 50%;"
                                                     alt="Avatar"
                                                     class="avatar-img rounded">
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <a href="#" class="card-title">#1   Adarsh</a>
                                            <small class="text-50">325 points</small>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="d-flex align-items-center">
                                        <div class="mr-12pt">
                                            <div class="avatar avatar-xl avatar-4by3">
                                                <img src="static/images/paths/invision_200x168.png" style="border-radius: 50%;"
                                                     alt="Avatar"
                                                     class="avatar-img rounded">
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <a href="#" class="card-title">#1   Adarsh</a>
                                            <small class="text-50">325 points</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                       
                    </div>

                    <div class="page-separator">
                        <div class="page-separator__text">Others</div>
                    </div>

                    <div class="posts-cards mb-24pt">

                        <div class="card posts-card">
                            <div class="posts-card__content d-flex align-items-center flex-wrap">
                                <div class="avatar avatar-lg mr-3">
                                    <a href="#"><img src="../../public/images/paths/invision_200x168.png"
                                             alt="avatar"
                                             class="avatar-img rounded"></a>
                                </div>
                                <div class="posts-card__title flex d-flex flex-column">
                                    <a href="#"
                                       class="card-title mr-3">Design Systems Essentials</a>
                                    <small class="text-50">35 views last week</small>
                                </div>
                                <div class="d-flex align-items-center flex-column flex-sm-row posts-card__meta">
                                    <div class="mr-3 text-50 text-uppercase posts-card__tag d-flex align-items-center">
                                        <i class="material-icons text-muted-light mr-1">folder_open</i> inVision
                                    </div>
                                    <div class="mr-3 text-50 posts-card__date">
                                        <small>11 Nov, 2018 07:46 AM</small>
                                    </div>
                                    <div class="media mr-2 ml-sm-auto align-items-center">
                                        <div class="media-left mr-2 avatar-group">

                                            <div class="avatar avatar-xs"
                                                 data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="Janell D.">
                                                <img src="../../public/images/256_rsz_1andy-lee-642320-unsplash.jpg"
                                                     alt="Avatar"
                                                     class="avatar-img rounded-circle">
                                            </div>

                                            <div class="avatar avatar-xs"
                                                 data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="Janell D.">
                                                <img src="../../public/images/256_michael-dam-258165-unsplash.jpg"
                                                     alt="Avatar"
                                                     class="avatar-img rounded-circle">
                                            </div>

                                            <div class="avatar avatar-xs"
                                                 data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="Janell D.">
                                                <img src="../../public/images/256_luke-porter-261779-unsplash.jpg"
                                                     alt="Avatar"
                                                     class="avatar-img rounded-circle">
                                            </div>

                                        </div>
                                        <div class="media-body">

                                            <a href="#">+2 more</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown ml-auto">
                                    <a href="#"
                                       data-toggle="dropdown"
                                       data-caret="false"
                                       class="text-muted"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="javascript:void(0)"
                                           class="dropdown-item">Action</a>
                                        <a href="javascript:void(0)"
                                           class="dropdown-item">Other Action</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="javascript:void(0)"
                                           class="dropdown-item">Some Other Action</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card posts-card">
                            <div class="posts-card__content d-flex align-items-center flex-wrap">
                                <div class="avatar avatar-lg mr-3">
                                    <a href="#"><img src="../../public/images/paths/photoshop_200x168.png"
                                             alt="avatar"
                                             class="avatar-img rounded"></a>
                                </div>
                                <div class="posts-card__title flex d-flex flex-column">
                                    <a href="#"
                                       class="card-title mr-3">Semantic Logo Design</a>
                                    <small class="text-50">78 views last week</small>
                                </div>
                                <div class="d-flex align-items-center flex-column flex-sm-row posts-card__meta">
                                    <div class="mr-3 text-50 text-uppercase posts-card__tag d-flex align-items-center">
                                        <i class="material-icons text-muted-light mr-1">folder_open</i> Photoshop
                                    </div>
                                    <div class="mr-3 text-50 posts-card__date">
                                        <small>10 Nov, 2018 08:25 AM</small>
                                    </div>
                                    <div class="media mr-2 ml-sm-auto align-items-center">
                                        <div class="media-left mr-2 avatar-group">

                                            <div class="avatar avatar-xs"
                                                 data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="Janell D.">
                                                <img src="../../public/images/256_joao-silas-636453-unsplash.jpg"
                                                     alt="Avatar"
                                                     class="avatar-img rounded-circle">
                                            </div>

                                            <div class="avatar avatar-xs"
                                                 data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="Janell D.">
                                                <img src="../../public/images/256_jeremy-banks-798787-unsplash.jpg"
                                                     alt="Avatar"
                                                     class="avatar-img rounded-circle">
                                            </div>

                                            <div class="avatar avatar-xs"
                                                 data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="Janell D.">
                                                <img src="../../public/images/256_daniel-gaffey-1060698-unsplash.jpg"
                                                     alt="Avatar"
                                                     class="avatar-img rounded-circle">
                                            </div>

                                        </div>
                                        <div class="media-body">

                                            <a href="#">+1 more</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown ml-auto">
                                    <a href="#"
                                       data-toggle="dropdown"
                                       data-caret="false"
                                       class="text-muted"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="javascript:void(0)"
                                           class="dropdown-item">Action</a>
                                        <a href="javascript:void(0)"
                                           class="dropdown-item">Other Action</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="javascript:void(0)"
                                           class="dropdown-item">Some Other Action</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card posts-card">
                            <div class="posts-card__content d-flex align-items-center flex-wrap">
                                <div class="avatar avatar-lg mr-3">
                                    <a href="#"><img src="../../public/images/paths/sketch_200x168.png"
                                             alt="avatar"
                                             class="avatar-img rounded"></a>
                                </div>
                                <div class="posts-card__title flex d-flex flex-column">
                                    <a href="#"
                                       class="card-title mr-3">Merge Duplicates Inconsistent Symbols &amp; Styles</a>
                                    <small class="text-50">78 views last week</small>
                                </div>
                                <div class="d-flex align-items-center flex-column flex-sm-row posts-card__meta">
                                    <div class="mr-3 text-50 text-uppercase posts-card__tag d-flex align-items-center">
                                        <i class="material-icons text-muted-light mr-1">folder_open</i> Sketch
                                    </div>
                                    <div class="mr-3 text-50 posts-card__date">
                                        <small>09 Nov, 2018 07:13 PM</small>
                                    </div>
                                    <div class="media mr-2 ml-sm-auto align-items-center">
                                        <div class="media-left mr-2 avatar-group">

                                            <div class="avatar avatar-xs"
                                                 data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="Janell D.">
                                                <img src="../../public/images/256_rsz_1andy-lee-642320-unsplash.jpg"
                                                     alt="Avatar"
                                                     class="avatar-img rounded-circle">
                                            </div>

                                            <div class="avatar avatar-xs"
                                                 data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="Janell D.">
                                                <img src="../../public/images/256_michael-dam-258165-unsplash.jpg"
                                                     alt="Avatar"
                                                     class="avatar-img rounded-circle">
                                            </div>

                                            <div class="avatar avatar-xs"
                                                 data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="Janell D.">
                                                <img src="../../public/images/256_luke-porter-261779-unsplash.jpg"
                                                     alt="Avatar"
                                                     class="avatar-img rounded-circle">
                                            </div>

                                        </div>
                                        <div class="media-body">

                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown ml-auto">
                                    <a href="#"
                                       data-toggle="dropdown"
                                       data-caret="false"
                                       class="text-muted"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="javascript:void(0)"
                                           class="dropdown-item">Action</a>
                                        <a href="javascript:void(0)"
                                           class="dropdown-item">Other Action</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="javascript:void(0)"
                                           class="dropdown-item">Some Other Action</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card p-8pt mb-0 d-inline-block">

                        <ul class="pagination justify-content-start pagination-xsm m-0">
                            <li class="page-item disabled">
                                <a class="page-link"
                                   href="#"
                                   aria-label="Previous">
                                    <span aria-hidden="true"
                                          class="material-icons">chevron_left</span>
                                    <span>Prev</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link"
                                   href="#"
                                   aria-label="Page 1">
                                    <span>1</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link"
                                   href="#"
                                   aria-label="Page 2">
                                    <span>2</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link"
                                   href="#"
                                   aria-label="Next">
                                    <span>Next</span>
                                    <span aria-hidden="true"
                                          class="material-icons">chevron_right</span>
                                </a>
                            </li>
                        </ul>

                    </div>

                </div>

                <!-- // END Page Content -->

                <!-- Footer -->

                <div class="bg-white border-top-2 mt-auto">
                    <div class="container-fluid page__container page-section d-flex flex-column">
                        <p class="text-70 brand mb-24pt">
                            <img class="brand-icon"
                                 src="../static/images/logo/black-70%402x.png"
                                 width="30"
                                 alt="Luma"> Luma
                        </p>
                        <p class="measure-lead-max text-50 small mr-8pt">Luma is a beautifully crafted user interface for modern Education Platforms, including Courses & Tutorials, Video Lessons, Student and Teacher Dashboard, Curriculum Management, Earnings and Reporting, ERP, HR, CMS, Tasks, Projects, eCommerce and more.</p>
                        <p class="mb-8pt d-flex">
                            <a href="#"
                               class="text-70 text-underline mr-8pt small">Terms</a>
                            <a href="#"
                               class="text-70 text-underline small">Privacy policy</a>
                        </p>
                        <p class="text-50 small mt-n1 mb-0">Copyright 2019 &copy; All rights reserved.</p>
                    </div>
                </div>

                <!-- // END Footer -->

            </div>

            <!-- // END drawer-layout__content -->

            <!-- Drawer -->

            <div class="mdk-drawer js-mdk-drawer"
                 id="default-drawer">
                <div class="mdk-drawer__content">
                    <div class="sidebar sidebar-light sidebar-light-dodger-blue sidebar-left"
                         data-perfect-scrollbar>

                        <!-- Sidebar Content -->

                        <a href="index.html"
                           class="sidebar-brand sidebar-brand-dark bg-primary-pickled-bluewood">

                            <span class="avatar avatar-xl sidebar-brand-icon h-auto">

                                <span class="avatar-title rounded bg-primary"><img src="../static/images/illustration/student/128/white.svg"
                                         class="img-fluid"
                                         alt="logo" /></span>

                            </span>

                            <span>Luma</span>
                        </a>

                        <div class="sidebar-heading">Faculty Dashboard</div>
                        <ul class="sidebar-menu">

                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button js-sidebar-collapse"
                                   data-toggle="collapse"
                                   href="#student_menu">
                                    Overview
                                </a>
                            </li>

                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button js-sidebar-collapse"
                                   data-toggle="collapse"
                                   href="#student_menu">
                                    Courses
                                </a>
                            </li>

                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button js-sidebar-collapse"
                                   data-toggle="collapse"
                                   href="#student_menu">
                                    Quiz
                                </a>
                            </li>

                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button js-sidebar-collapse"
                                   data-toggle="collapse"
                                   href="#student_menu">
                                    Students
                                </a>
                            </li>

                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button js-sidebar-collapse"
                                   data-toggle="collapse"
                                   href="#student_menu">
                                    Leaderboard
                                </a>
                            </li>

                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button js-sidebar-collapse"
                                   data-toggle="collapse"
                                   href="#student_menu">
                                    Community
                                </a>
                            </li>

                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button js-sidebar-collapse"
                                   data-toggle="collapse"
                                   href="#student_menu">
                                    ExaLearn GPT
                                </a>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>

            <!-- // END Drawer -->

        </div>

        <!-- // END Drawer Layout -->

        <!-- jQuery -->
        <script src="static/vendor/jquery.min.js"></script>

        <!-- Bootstrap -->
        <script src="static/vendor/popper.min.js"></script>
        <script src="static/vendor/bootstrap.min.js"></script>

        <!-- Perfect Scrollbar -->
        <script src="static/vendor/perfect-scrollbar.min.js"></script>

        <!-- DOM Factory -->
        <script src="static/vendor/dom-factory.js"></script>

        <!-- MDK -->
        <script src="static/vendor/material-design-kit.js"></script>

        <!-- App JS -->
        <script src="static/js/app.js"></script>

        <!-- Preloader -->
        <script src="static/js/preloader.js"></script>

    </body>
</html>