{%extends "faculty-base.html" %}


{%block content%}

{% block header %}
<h1 hidden="hidden"> {% block title %} Courses {% endblock %} </h1>
{% endblock %}


<div class="pt-32pt">
    <div class="container-fluid page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">

            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                <h2 class="mb-0">Courses</h2>

                <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>

                    <li class="breadcrumb-item active">
                        Courses

                    </li>

                </ol>

            </div>
        </div>

        <div class="row"
             role="tablist">
            <div class="col-auto">
                <a href="{{ url_for('faculty_course_add',new='true') }}"
                   class="btn btn-outline-secondary">Add Course</a>
            </div>
        </div>

    </div>
</div>


<div class="container-fluid page__container page-section">

    <div class="page-separator">
        <div class="page-separator__text">Free Courses</div>
    </div>

    <div class="row">
            <h5 style="margin-top:50px; margin-bottom:50px;margin-left:10px;">No Free Courses Available!</h5>
    </div>

    <div class="page-separator">
        <div class="page-separator__text">Paid Courses</div>
    </div>

    <div class="row">

        {% for course in course_list%}

        <div class="col-sm-6 col-md-4 col-xl-3">

            <div class="card card-sm card--elevated p-relative o-hidden overlay overlay--primary js-overlay mdk-reveal js-mdk-reveal "
                 data-partial-height="44"
                 data-toggle="popover"
                 data-trigger="click">
                <a href=""
                   class="js-image"
                   data-position="">
                    <img src="{{course.thumbnail}}"
                         alt="course" style="max-height:200px;max-width:200px;">
                    <span class="overlay__content align-items-start justify-content-start">
                                        <span class="overlay__action card-body d-flex align-items-center">
                                            <i class="material-icons mr-4pt">edit</i>
                                            <span class="card-title text-white">Edit</span>
                                        </span>
                                    </span>
                </a>
                <div class="mdk-reveal__content">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex">
                                <a class="card-title mb-4pt"
                                   href="instructor-edit-course.html">{{course.title}}</a>
                            </div>
                            <a href="instructor-edit-course.html"
                               class="ml-4pt material-icons text-20 card-course__icon-favorite">edit</a>
                        </div>
                        <div class="d-flex">
                            <div class="rating flex">
                                <span class="rating__item"><span class="material-icons">star</span></span>
                                <span class="rating__item"><span class="material-icons">star</span></span>
                                <span class="rating__item"><span class="material-icons">star</span></span>
                                <span class="rating__item"><span class="material-icons">star</span></span>
                                <span class="rating__item"><span class="material-icons">star_border</span></span>
                            </div>
                            <small class="text-50">{{course.duration}}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popoverContainer d-none">
                <div class="media">
                    <div class="media-left mr-12pt">
                        <img src="{{course.thumbnail}}"
                             width="40"
                             height="40"
                             alt="Angular"
                             class="rounded">
                    </div>
                    <div class="media-body">
                        <div class="card-title mb-0">{{course.title}}</div>

                    </div>
                </div>

                <p class="my-16pt text-70">{{course.description}}</p>

                <div class="mb-16pt">
                    {% for section in course.section%}
                    <div class="d-flex align-items-center">
                        <span class="material-icons icon-16pt text-50 mr-8pt">check</span>
                        <p class="flex text-50 lh-1 mb-0"><small>{{section.title}}</small></p>
                    </div>
                    {%endfor%}
                </div>

                <div class="row align-items-center">
                    <div class="col-auto">
                        <div class="d-flex align-items-center mb-4pt">
                            <span class="material-icons icon-16pt text-50 mr-4pt">access_time</span>
                            <p class="flex text-50 lh-1 mb-0"><small>{{ course.duration }}</small></p>
                        </div>
                        <div class="d-flex align-items-center mb-4pt">
                            <span class="material-icons icon-16pt text-50 mr-4pt">play_circle_outline</span>
                            <p class="flex text-50 lh-1 mb-0"><small>{{ course.section |length }} lessons</small></p>
                        </div>

                    </div>
                    <div class="col text-right">
                        <a href="instructor-edit-course.html"
                           class="btn btn-primary">Edit course</a>
                    </div>
                </div>

            </div>

        </div>

        {% endfor %}


    </div>
</div>


    {% endblock %}