{%extends "faculty-base.html" %}


{%block content%}

{% block header %}
<h1 hidden="hidden"> {% block title %} Add Course {% endblock %} </h1>
{% endblock %}


<div class="pt-32pt">
    <div class="container-fluid page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        <div class="flex d-flex flex-column flex-sm-row align-items-center">

            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                <h2 class="mb-0">Add / Edit Course</h2>

                <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="index.html">Course id</a></li>

                    <li class="breadcrumb-item active">

                        snjijswnojwnsojwsnwoijs

                    </li>

                </ol>

            </div>
        </div>

    </div>
</div>


<div class="page-section border-bottom-2">
    <div class="container-fluid page__container">

        <div class="row">
            <div class="col-md-8">

                <div class="page-separator">
                    <div class="page-separator__text">Basic information</div>
                </div>

                <label class="form-label">Course title</label>
                <div class="form-group mb-24pt">
                    {% if name is not none%}
                           <input type="text"
                           id="course-title"
                           name="course-title"
                           class="form-control form-control-lg"
                           placeholder="Course title"
                           value="{{name}}">
                    {%else%}
                    <input type="text"
                           id="course-title"
                           name="course-title"
                           class="form-control form-control-lg"
                           placeholder="Course title"
                           value=" ">
                    {% endif %}
                </div>

                <div class="form-group mb-32pt">
                    <label class="form-label">Description</label>
                    {% if desc is not none%}
                     <textarea class="form-control" rows="3" placeholder="Course description" id="course-desc">{{desc}}</textarea>
                    {%else%}
                    <textarea class="form-control" rows="3" placeholder="Course description" id="course-desc"></textarea>
                    {%endif%}

                    <small class="form-text text-muted">Shortly describe this course.</small>
                </div>

                <div class="page-separator">
                    <div class="page-separator__text">Sections</div>
                </div>

                <div class="accordion js-accordion accordion--boxed mb-24pt"
                     id="parent">

                    {%if section_list is not none%}

                    {%for sec in section_list%}

                    <div class="accordion__item open">
                        <a href="#"
                           class="accordion__toggle collapsed"
                           data-toggle="collapse"
                           data-target="#course-toc-4"
                           data-parent="#parent">
                            <span class="flex">{{sec.title}}</span>
                            <span class="accordion__toggle-icon material-icons">keyboard_arrow_down</span>
                        </a>
                        {%for i in sec.content%}
                        <div class="accordion__menu open"
                             id="course-toc-4">

                            <div class="accordion__menu-link">
                                <i class="material-icons text-70 icon-16pt icon--left">drag_handle</i>
                                <a class="flex"
                                   href="student-lesson.html">{{i[0]}}</a>
                                <span class="text-muted">04:23</span>
                            </div>

                        </div>
                        {%endfor%}
                        <div class="accordion__menu open">
                            <div class="accordion__menu-link">
                                <a class="flex" href="student-lesson.html"><b>EDIT SECTION</b></a>
                            </div>
                        </div>
                    </div>

                    {%endfor%}
                    {%endif%}
                </div>

                <a href="{{ url_for('faculty_course_add_section') }}"
                   class="btn btn-outline-secondary mb-24pt mb-sm-0">Add Section</a>

            </div>
            <div class="col-md-4">

                <div class="card">
                    <div class="card-header text-center">
                        <a href="#"
                           class="btn btn-accent">Publish Course</a>
                    </div>
                    <div class="list-group list-group-flush">

                        <div class="list-group-item">
                            <a href="#"
                               class="text-danger"><strong>Delete Course</strong></a>
                        </div>
                    </div>
                </div>

                <div class="page-separator">
                    <div class="page-separator__text">THUMBNAIL</div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <label class="form-label">Attach Image</label>
                        <input type="file" accept="image/*"/>
                        <small class="form-text text-muted">Upload a thumbnail of 600x600 pixels.</small>
                    </div>
                </div>




                <div class="page-separator">
                    <div class="page-separator__text">Options</div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Category</label>
                            <select name="category" id="category"
                                    class="form-control custom-select">
                                {% if category is not none%}
                                {%for cat1 in category%}
                                {% if cat1 == 'cat'%}
                                <option value="{{cat1}}" selected>{{cat1}}</option>
                                {%else%}
                                <option value="{{cat1}}">{{cat1}}</option>
                                {%endif%}
                                {%endfor%}
                                {%endif%}
                            </select>
                            <small class="form-text text-muted">Select a category.</small>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Price</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group form-inline">
                                        <span class="input-group-prepend"><span class="input-group-text">$</span></span>
                                        <input type="text"
                                               class="form-control"
                                               value="{{price}}" id="course-price">
                                    </div>
                                </div>
                            </div>
                            <small class="form-text text-muted">Enter &dollar;0 for making the course free</small>
                        </div>



                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const titleBox = document.getElementById('course-title');
        const descBox = document.getElementById('course-desc');
        const categoryBox = document.getElementById('category');
        const priceBox = document.getElementById('course-price');

        titleBox.addEventListener('input', function() {
            const dataToSend = {
                course_title: titleBox.value
            };
            console.log('data:', dataToSend);
            toSession(dataToSend);
        });

        descBox.addEventListener('input', function() {
            const dataToSend = {
                course_desc: descBox.value
            };
            console.log('data:', dataToSend);
            toSession(dataToSend);
        });

        priceBox.addEventListener('input', function() {
            const dataToSend = {
                course_price: priceBox.value
            };
            console.log('data:', dataToSend);
            toSession(dataToSend);
        });

        categoryBox.addEventListener('click', function() {
            const dataToSend = {
                course_category: categoryBox.value
            };
            console.log('data:', dataToSend);
            toSession(dataToSend);
        });


        function toSession(dataToSend){
            fetch('/faculty/courses/add/details', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(dataToSend)
            })
                .then(response => response.json())
                .then(data => {
                console.log('Success:', data);
            })
                .catch((error) => {
                console.error('Error:', error);
            });
        }

    });
</script>


{% endblock %}