<!DOCTYPE html>
<html lang="en"
      dir="ltr">

    
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>ExaLearn | Messages</title>

        <!-- Prevent the demo from appearing in search engines -->
        <meta name="robots"
              content="noindex">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">

  <link href="https://fonts.googleapis.com/css8f03.css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&amp;display=swap"
        rel="stylesheet">

  <!-- Preloader -->
  <link type="text/css"
        href="/static/vendor/spinkit.css"
        rel="stylesheet">

  <!-- Perfect Scrollbar -->
  <link type="text/css"
        href="/static/vendor/perfect-scrollbar.css"
        rel="stylesheet">

  <!-- Material Design Icons -->
  <link type="text/css"
        href="/static/css/material-icons.css"
        rel="stylesheet">

  <!-- Font Awesome Icons -->
  <link type="text/css"
        href="/static/css/fontawesome.css"
        rel="stylesheet">

  <!-- Preloader -->
  <link type="text/css"
        href="/static/css/preloader.css"
        rel="stylesheet">

  <!-- App CSS -->
  <link type="text/css"
        href="/static/css/app.css"
        rel="stylesheet">

    </head>

    <body class="layout-boxed app-messages">

        <div class="preloader">
            <div class="sk-chase">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
            </div>

            <!-- <div class="sk-bounce">
    <div class="sk-bounce-dot"></div>
    <div class="sk-bounce-dot"></div>
  </div> -->

            <!-- More spinner examples at https://github.com/tobiasahlin/SpinKit/blob/master/examples.html -->
        </div>

        <!-- Drawer Layout -->

        <div class="mdk-drawer-layout js-mdk-drawer-layout"
             data-push
             data-responsive-width="992px">
            <div class="mdk-drawer-layout__content page-content">

                <!-- Header -->

                <!-- // END Header -->

                <!-- BEFORE Page Content -->

                <!-- // END BEFORE Page Content -->

                <!-- Page Content -->

                <div data-push
                     data-responsive-width="768px"
                     data-has-scrollable-region
                     data-fullbleed
                     class="mdk-drawer-layout js-mdk-drawer-layout">
                    <div class="mdk-drawer-layout__content"
                         data-perfect-scrollbar>

                        <div class="app-messages__container d-flex flex-column h-100 pb-4">
                            <div class="navbar navbar-dark navbar-dark-pickled-bluewood navbar-shadow navbar-expand-sm z-1"
                                 id="messages-navbar">
                                <div class="container-fluid flex-wrap px-sm-0">
                                    
                                    <div class="py-2 flex d-flex align-items-center">
                                        
                                        <button data-target="#messages-drawer"
                                                class="navbar-toggler d-block d-md-none ml-3 p-0"
                                                data-toggle="sidebar"
                                                type="button">
                                            <i class="material-icons">people_outline</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="flex pt-4"
                                 style="position: relative;"
                                 data-perfect-scrollbar>
                                <div class="container-fluid page__container page__container">
                                    <div class="card">
                                        <div class="card-body d-flex align-items-center">
                                            <div class="mr-3">
                                                <div class="avatar avatar-xl">
                                                    <span class="avatar-title rounded-circle">AI</span>
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <h4 class="mb-0">ExaLearn Ai</h4>
                                                <p class="text-50 mb-0">Model GPT - 4.0</p>
                                            </div>
                                        </div>
                                    </div>












                                    
                                    <ul class="d-flex flex-column list-unstyled"
                                        id="messages">

                                        <li class="message d-inline-flex">
                                            <div class="message__aside">
                                                <a href="profile.html"
                                                   class="avatar avatar-sm">
                                                    <img src="../../public/images/people/110/guy-6.jpg"
                                                         alt="people"
                                                         class="avatar-img rounded-circle">
                                                </a>
                                            </div>
                                            <div class="message__body card">
                                                <div class="card-body">
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex mr-3">
                                                            <a href="profile.html"
                                                               class="text-body"><strong>Laza Bogdan</strong></a>
                                                        </div>
                                                        <div>
                                                            <small class="text-50">1 hour ago</small>
                                                        </div>
                                                    </div>
                                                    <span class="text-70">Coming along nicely, we&#39;ve got a draft for the client design completed, take a look! 🤓</span>

                                                    <a href="#"
                                                       class="media align-items-center mt-2 text-decoration-0 px-3">
                                                        <span class="avatar mr-12pt">
                                                            <span class="avatar-title rounded-circle">
                                                                <i class="material-icons font-size-24pt">attach_file</i>
                                                            </span>
                                                        </span>
                                                        <span class="media-body"
                                                              style="line-height: 1.5">
                                                            <span class="text-primary">draft.sketch</span><br>
                                                            <span class="text-50">5 MB</span>
                                                        </span>
                                                    </a>

                                                </div>
                                            </div>
                                        </li>

                                        <li class="message d-inline-flex">
                                            <div class="message__aside">
                                                <a href="profile.html"
                                                   class="avatar avatar-sm">
                                                    <img src="../../public/images/people/110/woman-5.jpg"
                                                         alt="people"
                                                         class="avatar-img rounded-circle">
                                                </a>
                                            </div>
                                            <div class="message__body card">
                                                <div class="card-body">
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex mr-3">
                                                            <a href="profile.html"
                                                               class="text-body"><strong>Michelle</strong></a>
                                                        </div>
                                                        <div>
                                                            <small class="text-50">5 minutes ago</small>
                                                        </div>
                                                    </div>
                                                    <span class="text-70">Clients loved the new design.</span>

                                                </div>
                                            </div>
                                        </li>

                                        <li class="message d-inline-flex">
                                            <div class="message__aside">
                                                <a href="profile.html"
                                                   class="avatar avatar-sm">
                                                    <img src="../../public/images/people/110/woman-5.jpg"
                                                         alt="people"
                                                         class="avatar-img rounded-circle">
                                                </a>
                                            </div>
                                            <div class="message__body card">
                                                <div class="card-body">
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex mr-3">
                                                            <a href="profile.html"
                                                               class="text-body"><strong>Michelle</strong></a>
                                                        </div>
                                                        <div>
                                                            <small class="text-50">5 minutes ago</small>
                                                        </div>
                                                    </div>
                                                    <span class="text-70">🔥 Superb job..</span>

                                                </div>
                                            </div>
                                        </li>

                                        <li class="message d-inline-flex">
                                            <div class="message__aside">
                                                <a href="profile.html"
                                                   class="avatar avatar-sm">
                                                    <img src="../../public/images/people/110/guy-6.jpg"
                                                         alt="people"
                                                         class="avatar-img rounded-circle">
                                                </a>
                                            </div>
                                            <div class="message__body card">
                                                <div class="card-body">
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex mr-3">
                                                            <a href="profile.html"
                                                               class="text-body"><strong>Laza Bogdan</strong></a>
                                                        </div>
                                                        <div>
                                                            <small class="text-50">just now</small>
                                                        </div>
                                                    </div>
                                                    <span class="text-70">Glad it all worked out 😉</span>

                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="container-fluid page__container page__container">
                                <form action="#"
                                      id="message-reply">
                                    <div class="input-group input-group-merge">
                                        <input type="text"
                                               class="form-control form-control-appended"
                                               autofocus=""
                                               required=""
                                               placeholder="Type message">
                                        <div class="input-group-append">
                                            <div class="input-group-text pr-2">
                                            </div>
                                            <div class="input-group-text pl-0">
                                                <div class="custom-file custom-file-naked d-flex"
                                                     style="width: 24px; overflow: hidden;">
                                                    <input type="file"
                                                           class="custom-file-input"
                                                           id="customFile">
                                                    <label class="custom-file-label"
                                                           style="color: inherit;"
                                                           for="customFile">
                                                        <i class="material-icons">send</i>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    

                </div>





















                <!-- // END Page Content -->

            </div>

            <!-- // END drawer-layout__content -->

            <!-- Drawer -->

    <div class="mdk-drawer js-mdk-drawer"
         id="default-drawer">
        <div class="mdk-drawer__content">
            <div class="sidebar sidebar-light sidebar-light-dodger-blue sidebar-left"
                 data-perfect-scrollbar>

                <!-- Sidebar Content -->

                <a href="index.html"
                   class="sidebar-brand sidebar-brand-dark bg-primary-pickled-bluewood">

                            <span class="avatar avatar-xl sidebar-brand-icon h-auto">

                                <span class="avatar-title rounded bg-primary"><img
                                        src="../static/images/illustration/student/128/white.svg"
                                        class="img-fluid"
                                        alt="logo"/></span>

                            </span>

                    <span>ExaLearn</span>
                </a>

                <div class="sidebar-heading">Faculty Dashboard</div>
                <ul class="sidebar-menu">

                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button js-sidebar-collapse"

                           href="{{ url_for('faculty_dash') }}">
                            Overview
                        </a>
                    </li>

                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button js-sidebar-collapse"

                           href="{{ url_for('faculty_course') }}">
                            Courses
                        </a>
                    </li>

                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button js-sidebar-collapse"

                           href="{{ url_for('faculty_quiz') }}">
                            Quiz
                        </a>
                    </li>

                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button js-sidebar-collapse"

                           href="{{ url_for('faculty_stud') }}">
                            Students
                        </a>
                    </li>

                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button js-sidebar-collapse"

                           href="{{ url_for('faculty_leaderboard') }}">
                            Leaderboard
                        </a>
                    </li>

                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button js-sidebar-collapse"

                           href="{{ url_for('faculty_community') }}">
                            Community
                        </a>
                    </li>

                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button js-sidebar-collapse"
                           href="{{ url_for('faculty_gpt') }}">
                            ExaLearn GPT
                        </a>
                    </li>
                </ul>


            </div>
        </div>
    </div>

    <!-- // END Drawer -->

        </div>

        <!-- // END Drawer Layout -->

        <!-- jQuery -->
        <script src="/static/vendor/jquery.min.js"></script>

        <!-- Bootstrap -->
        <script src="/static/vendor/popper.min.js"></script>
        <script src="/static/vendor/bootstrap.min.js"></script>

        <!-- Perfect Scrollbar -->
        <script src="/static/vendor/perfect-scrollbar.min.js"></script>

        <!-- DOM Factory -->
        <script src="/static/vendor/dom-factory.js"></script>

        <!-- MDK -->
        <script src="/static/vendor/material-design-kit.js"></script>

        <!-- App JS -->
        <script src="/static/js/app.js"></script>

        <!-- Preloader -->
        <script src="/static/js/preloader.js"></script>

        <script id="template-message"
                type="text/x-jsrender">
            <li class="message d-inline-flex">
    <div class="message__aside">
      <a href="profile.html" class="avatar avatar-sm">
        <img src="{{avatar}}" alt="people" class="avatar-img rounded-circle">
      </a>
    </div>
    <div class="message__body card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="flex mr-3">
            <a href="profile.html" class="text-body"><strong>{{name}}</strong></a>
          </div>
          <div>
            <small class="text-muted">{{date}}</small>
          </div>
        </div>
        <span class="text-70">{{message}}</span>

      </div>
    </div>
  </li>
</script>

        <!-- Messages App -->
        <script src="/static/js/messages.js"></script>

    </body>


</html>