{%extends "faculty-base.html" %}


{%block content%}

{% block header %}
<h1 hidden="hidden"> {% block title %} Add Course {% endblock %} </h1>
{% endblock %}

<style>
    .progress-circle {
        width: 50px;
        height: 50px;
        border: 8px solid #d2d3d4;
        border-top: 8px solid #4d5bf9;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>


<div class="pt-32pt">
    <div class="container-fluid page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        <div class="flex d-flex flex-column flex-sm-row align-items-center">

            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                <h2 class="mb-0">Add / Edit Course</h2>

                <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="index.html">Course id</a></li>

                    <li class="breadcrumb-item active">

                        {{id}}

                    </li>

                </ol>

            </div>
        </div>

    </div>
</div>


<div class="page-section border-bottom-2">
    <div class="container-fluid page__container">

        <div class="row">
            <div class="col-md-8">


                <div class="page-separator">
                    <div class="page-separator__text">Basic information</div>
                </div>

                <label class="form-label">Course title</label>
                <div class="form-group mb-24pt">
                    {% if name is not none%}
                    <input type="text"
                           id="course-title"
                           name="course-title"
                           class="form-control form-control-lg"
                           placeholder="Course title"
                           value="{{name}}">
                    {%else%}
                    <input type="text"
                           id="course-title"
                           name="course-title"
                           class="form-control form-control-lg"
                           placeholder="Course title"
                           value=" ">
                    {% endif %}
                </div>

                <div class="form-group mb-32pt">
                    <label class="form-label">Description</label>
                    {% if desc is not none%}
                    <textarea class="form-control" rows="3" placeholder="Course description"
                              id="course-desc">{{desc}}</textarea>
                    {%else%}
                    <textarea class="form-control" rows="3" placeholder="Course description"
                              id="course-desc"></textarea>
                    {%endif%}

                    <small class="form-text text-muted">Shortly describe this course.</small>
                </div>

                <div class="page-separator">
                    <div class="page-separator__text">Sections</div>
                </div>

                <div class="accordion js-accordion accordion--boxed mb-24pt"
                     id="parent">

                    <div id="section-list">
                        {% if section_list is not none %}
                        {% for sec in section_list %}
                        <div class="accordion__item" id="section-{{ loop.index }}">
                            <a href="#"
                               class="accordion__toggle collapsed"
                               data-toggle="collapse"
                               data-target="#course-toc-{{ loop.index }}"
                               data-parent="#parent">
                                <span class="flex">{{ sec.title }}</span>
                                <span class="accordion__toggle-icon material-icons">keyboard_arrow_down</span>
                            </a>
                            {% for item in sec.content %}
                            <div class="accordion__menu open" id="course-toc-{{ loop.index }}">

                                <div class="accordion__menu-link">
                                    <a href="#" class="remove-item"><i
                                            class="material-icons text-70 icon-16pt icon--left" style="color:red">do_not_disturb_on</i></a>
                                    <a class="flex" href="">{{ item['title'] }}</a>

                                    <span class="text-muted">{% if sec.id == 2 %}QUIZ ID : {{item['desc']}}{%else%}{{ item['duration'] }} min{%endif%}</span>

                                </div>

                            </div>
                            {% endfor %}
                            <div class="accordion__menu open">
                                <div class="accordion__menu-link">
                                    {%if sec.id == 2%}
                                    <a class="flex delete-section" href="#" data-section-id="{{ loop.index0 }}"
                                       style="color:red"><b>DELETE QUIZ</b></a>
                                    {%else%}
                                    <a class="flex delete-section" href="#" data-section-id="{{ loop.index0 }}"
                                       style="color:red"><b>DELETE SECTION</b></a>
                                    {%endif%}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <a href="{{ url_for('faculty_course_add_section', new='true') }}"
                   class="btn btn-outline-secondary mb-24pt mb-sm-0">Add Section</a>
                <a href="{{ url_for('faculty_course_add_section_quiz', new='true') }}"
                   class="btn btn-outline-secondary mb-24pt mb-sm-0">Add Quiz</a>

            </div>
            <div class="col-md-4">

                <div class="card">
                    <div class="card-header text-center">
                        <a href="#" id="save" class="btn btn-accent">Publish Course</a>
                        <a href="#" id="progress" class="btn btn-accent"
                           style="background-color:white;border:none; display:none;">
                            <div class="progress-circle"></div>
                        </a>
                    </div>
                    <div class="list-group list-group-flush">

                        <div class="list-group-item">
                            <a href="" id="del-course"
                               class="text-danger"><strong>Delete Course</strong></a>
                        </div>
                    </div>
                </div>

                <div class="page-separator">
                    <div class="page-separator__text">THUMBNAIL</div>
                </div>

                <div class="card">
                    <div class="card-body">
                        {%if thumb is not none%}
                        <img src="{{thumb}}"
                             width="100"
                             height="100"
                             alt="Angular"
                             class="rounded">
                        <br><br>
                        <label class="form-label">Replace Thumbnail</label>
                        <input type="file" id="imageFile" accept="image/*"/>
                        <small class="form-text text-muted">Upload another thumbnail of 600x600 pixels to replace the current one.</small>
                        <input type="text" id="course-thumb" name="course-thumb" class="form-control form-control-lg"
                           value="{{thumb}}" hidden="hidden">
                        {%else%}
                        <label class="form-label">Attach Thumbnail</label>
                        <input type="file" id="imageFile" accept="image/*"/>
                        <small class="form-text text-muted">Upload a thumbnail of 600x600 pixels.</small>
                        {%endif%}

                    </div>
                </div>


                <div class="page-separator">
                    <div class="page-separator__text">Options</div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Category</label>
                            <select name="category" id="category"
                                    class="form-control custom-select">
                                {% if category is not none%}
                                {%for cat1 in category%}
                                {% if cat1 == cat%}
                                <option value="{{cat1}}" selected>{{cat1}}</option>
                                {%else%}
                                <option value="{{cat1}}">{{cat1}}</option>
                                {%endif%}
                                {%endfor%}
                                {%endif%}
                            </select>
                            <small class="form-text text-muted">Select a category.</small>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Price</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group form-inline">
                                        <span class="input-group-prepend"><span class="input-group-text">$</span></span>
                                        <input type="text"
                                               class="form-control"
                                               value="{{price}}" id="course-price">
                                    </div>
                                </div>
                            </div>
                            <small class="form-text text-muted">Enter &dollar;0 for making the course free</small>
                        </div>


                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const titleBox = document.getElementById('course-title');
        const descBox = document.getElementById('course-desc');
        const categoryBox = document.getElementById('category');
        const priceBox = document.getElementById('course-price');

        titleBox.addEventListener('input', function() {
            const dataToSend = {
                course_title: titleBox.value
            };
            console.log('data:', dataToSend);
            toSession(dataToSend);
        });

        descBox.addEventListener('input', function() {
            const dataToSend = {
                course_desc: descBox.value
            };
            console.log('data:', dataToSend);
            toSession(dataToSend);
        });

        priceBox.addEventListener('input', function() {
            const dataToSend = {
                course_price: priceBox.value
            };
            console.log('data:', dataToSend);
            toSession(dataToSend);
        });

        document.getElementById('category').addEventListener('change', function() {
            const dataToSend = {
                course_category: this.value
            };
            console.log('data:', dataToSend);
            toSession(dataToSend);
        });

        let section_list = {{ section_list | tojson | safe }};

        document.querySelectorAll('.remove-item').forEach(function(itemLink) {
            itemLink.addEventListener('click', function(event) {
                event.preventDefault();
                let sectionIndex = event.target.closest('.accordion__item').id.replace('section-', '');
                let itemIndex = event.target.closest('.accordion__menu').id;
                let idx = itemIndex.replace('course-toc-', '')
                console.log('index_pos', idx)
                deleteItem(sectionIndex - 1, idx - 1); // Adjust indices for JavaScript (0-based)
            });
        });

        // Add event listener for deleting a section
        document.querySelectorAll('.delete-section').forEach(function(sectionLink) {
            sectionLink.addEventListener('click', function(event) {
                event.preventDefault();
                let sectionIndex = event.target.closest('.accordion__item').id.replace('section-', '');
                console.log('index_pos', sectionIndex)
                deleteSection(sectionIndex - 1); // Adjust index for JavaScript (0-based)
            });
        });

        document.getElementById('del-course').addEventListener('click', function(event){
            event.preventDefault();
            if(confirm("Do You Really Want To Delete The Course?")){
                window.location.href = "/faculty/courses"
            }
        });

        var progress = document.getElementById('progress');
        var save = document.getElementById('save')

        save.addEventListener('click', function(event) {
            event.preventDefault();
            const titleBox = document.getElementById('course-title');
            const descBox = document.getElementById('course-desc');
            const priceBox = document.getElementById('course-price');
            const imageFileInput = document.getElementById('imageFile');
            const thumb = document.getElementById('course-thumb');
            const imageFile = imageFileInput.files.length > 0 ? imageFileInput.files[0] : null;
            let section_list = {{ section_list | tojson | safe }};

            if (titleBox.value.length < 1 | descBox.value.length < 1 | priceBox.value.length < 1){
                alert("Please complete all fields!")
            }else if (section_list.length < 1){
                alert("Please add atleast one section!")
            }else if (imageFile == null){
                if (thumb.value.length > 1){
                    passToNext(thumb.value, section_list)
                }else{
                    alert("Please add a thumbnail!")
                }
            }else{
                uploadAndSave(imageFile, section_list)
            }

        });


        function deleteItem(sectionIndex, itemIndex) {
            // Confirm deletion (optional)
            if (confirm('Are you sure you want to delete this item?')) {
                // Remove the item from section_list
                section_list[sectionIndex].content.splice(itemIndex, 1);
                // Update the UI
                if (itemIndex == 0){
                    if (section_list[sectionIndex].content.length == 0){
                        section_list.splice(sectionIndex, 1);
                    }
                }
                refreshUI();
            }
        }

        // Function to delete a section from section_list
        function deleteSection(sectionIndex) {
            // Confirm deletion (optional)
            if (confirm('Are you sure you want to delete this section? ')) {
                // Remove the section from section_list
                section_list.splice(sectionIndex, 1);
                // Update the UI
                refreshUI();
            }
        }

        // Function to refresh the UI based on updated section_list
        function refreshUI() {
            window.location.href = '/faculty/courses/add?refresh=' + encodeURIComponent(JSON.stringify(section_list))
            console.log('list',encodeURIComponent(JSON.stringify(section_list)))
        }



        function toSession(dataToSend){
            fetch('/faculty/courses/add/details', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(dataToSend)
            })
                .then(response => response.json())
                .then(data => {
                console.log('Success:', data);
            })
                .catch((error) => {
                console.error('Error:', error);
            });
        }

        function uploadAndSave(file, section_list){
            const formData = new FormData();
            formData.append('imageFile', file);
            console.log("started upload")
            progress.style.display = 'inline-block';
            save.style.display = 'none';
            fetch('/thumb-upload', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                console.log('Success:', data);
                passToNext(data.url, section_list)
            })
                .catch((error) => {
                console.error('Error:', error);
                progress.style.display = 'none';
                save.style.display = 'inline-block';
                alert('Something went wrong!');
            });
        }

        function passToNext(url, section_list){
            const formData = new FormData();
            formData.append('url', url);
            formData.append('list', JSON.stringify(section_list));
            fetch('/faculty/course/throw', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                console.log('Success:', data);
                progress.style.display = 'none';
                save.style.display = 'inline-block';
                window.location.href = "/faculty/courses?msg=success"
            })
                .catch((error) => {
                console.error('Error:', error);
                progress.style.display = 'none';
                save.style.display = 'inline-block';
                alert('Something went wrong!');
            });
        }

    });
</script>


{% endblock %}