{%extends "faculty-base.html" %}


{%block content%}

{% block header %}
<h1 hidden="hidden"> {% block title %} Community {% endblock %} </h1>
{% endblock %}


<div class="container-fluid page__container">
    <div class="page-section">

        <div class="row">
            <div class="col-md-8">

                <h1 class="h2 measure-lead-max mb-2">{{m.title}}</h1>
                <p class="text-muted d-flex align-items-center mb-lg-32pt">
                    <!--                                    <a href="discussions.html"-->
                    <!--                                       class="mr-3">Back to Community</a>-->
                    <!--                                    <a href="#"-->
                    <!--                                       class="mr-2 text-50">Mute</a>-->
                    <!--                                    <a href="#"-->
                    <!--                                       class="mr-2 text-50">Report</a>-->
                    <!--                                    <a href="#"-->
                    <!--                                       class="text-50"-->
                    <!--                                       style="text-decoration: underline;">Edit</a>-->
                </p>

                <div class="card card-body">
                    <div class="d-flex">
                        <a href="#"
                           class="avatar avatar-sm avatar-online mr-12pt">
                            {%if m.ask.photo_url is not none%}
                            <img src="{{m.ask.photo_url}}" alt="avatar" class="avatar-img rounded-circle">
                            {%else%}
                            <span class="avatar-title rounded-circle">{{m.ask.display_name[:2] | capitalize}}</span>
                            {%endif%}
                        </a>
                        <div class="flex">
                            <p class="d-flex align-items-center mb-2">
                                <a href="#"
                                   class="text-body mr-2"><strong>{{m.ask.display_name}}</strong></a>
                                <small class="text-muted">{{m.time}}</small>
                            </p>
                            <p>{{m.desc}}</p>
                            <div class="d-flex align-items-center">
                                <!--                                                <a href="#"-->
                                <!--                                                   class="text-50 d-flex align-items-center text-decoration-0"><i class="material-icons mr-1"-->
                                <!--                                                       style="font-size: inherit;">favorite_border</i> 30</a>-->
                                <!--                                                <a href="#"-->
                                <!--                                                   class="text-50 d-flex align-items-center text-decoration-0 ml-3"><i class="material-icons mr-1"-->
                                <!--                                                       style="font-size: inherit;">thumb_up</i> 130</a>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex mb-4">
                    <div class="flex">
                        <form action="{{url_for('community_comment_submit')}}" method="post">
                        <div class="form-group">
                            <label for="comment"
                                   class="form-label">Your reply</label>
                            <input type="hidden" name="id" value="{{m.id}}">
                            <textarea class="form-control"
                                      name="comment"
                                      id="comment"
                                      rows="3"
                                      placeholder="Type here to reply to {{m.ask.display_name}} ..."></textarea>
                        </div>
                        <button class="btn btn-outline-secondary">Post comment</button>
                        </form>
                    </div>
                </div>
                <div class="pt-3">
                    <h4>{{m.comments | length}} Comments</h4>

                    {%for comment in m.comments%}

                    <div class="d-flex mb-3">
                        <a href=""
                           class="avatar avatar-sm mr-12pt">
                            {%if comment.user.photo_url is not none%}
                            <img src="{{comment.user.photo_url}}" alt="avatar" class="avatar-img rounded-circle">
                            {%else%}
                            <span class="avatar-title rounded-circle">{{comment.user.display_name[:2] | capitalize}}</span>
                            {%endif%}
                        </a>
                        <div class="flex">
                            <a href="#"
                               class="text-body"><strong>{{comment.user.display_name}}</strong></a><br>
                            <p class="mt-1 text-70">{{comment.comment}}</p>
                            <div class="d-flex align-items-center">
                                <small class="text-50 mr-2">{{comment.time}}</small>

                            </div>
                        </div>
                    </div>

                    {%endfor%}



                </div>
            </div>

        </div>

    </div>
</div>


{% endblock %}