{%extends "faculty-base.html" %}


{%block content%}

{% block header %}
<h1 hidden="hidden"> {% block title %} Add Quiz {% endblock %} </h1>
{% endblock %}

<div class="pt-32pt">
    <div class="container-fluid page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        <div class="flex d-flex flex-column flex-sm-row align-items-center">

            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                <h2 class="mb-0">Edit Quiz</h2>

                <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>

                    <li class="breadcrumb-item active">

                        Edit Quiz

                    </li>

                </ol>

            </div>
        </div>

    </div>
</div>


<div class="page-section ">
    <div class="container-fluid page__container">
        <div class="row align-items-start">
            <div class="col-md-8">


                <label class="form-label">Quiz title</label>
                <div class="form-group mb-24pt">

                    {% if name is not none%}
                           <input type="text"
                           id="quiz-title"
                           name="quiz-title"
                           class="form-control form-control-lg"
                           placeholder="Enter a title for quiz."
                           value="{{name}}">
                    {%else%}
                    <input type="text"
                           id="quiz-title"
                           name="quiz-title"
                           class="form-control form-control-lg"
                           placeholder="Enter a title for quiz."
                           value=" ">
                    {% endif %}
                </div>

                <div class="page-separator">
                    <div class="page-separator__text">Questions</div>
                </div>

                {% if qn_list is none%}

                <a href="#" class="chip chip-light d-inline-flex align-items-center"> Start adding questions for
                    quiz.</a>
                <br><br><br>

                {% else %}

                <ul class="list-group stack mb-40pt">

                    {% for qn in qn_list%}

                    <li class="list-group-item d-flex">
                        <div class="flex d-flex flex-column">
                            <div class="card-title mb-4pt">Question {{loop.index}}</div>
                            <div class="card-subtitle text-70 paragraph-max mb-16pt">
                                {{qn.qn}}
                            </div>
                            <div>
                                <div class="chip chip-outline-secondary">{{qn.op_1}}</div>
                                <div class="chip chip-outline-secondary">{{qn.op_2}}</div>
                                <div class="chip chip-outline-secondary">{{qn.op_3}}</div>
                                <div class="chip chip-outline-secondary">{{qn.op_4}}</div>
                                <br><br>
                                <a href="#"
                                   class="chip chip-light d-inline-flex align-items-center"> Answer : {{qn.answer}}</a>

                            </div>
                        </div>

                        <span class="text-muted mx-12pt">{{qn.points}} points</span>

                        <div class="dropdown">
                            <a href="#"
                               data-toggle="dropdown"
                               data-caret="false"
                               class="text-muted"><i class="material-icons">more_horiz</i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="javascript:void(0)"
                                   class="dropdown-item">Edit Question</a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0)"
                                   class="dropdown-item text-danger">Delete Question</a>
                            </div>
                        </div>
                    </li>

                    {% endfor %}

                </ul>

                {% endif %}

                <div>
                    <a href="{{url_for('faculty_quiz_add_qn')}}"
                       class="btn btn-outline-secondary">Add Question</a>
                </div>


            </div>
            <div class="col-md-4">

                <div class="card">
                    <div class="card-header text-center">
                        <a href="{{url_for('faculty_quiz')}}"
                           class="btn btn-accent">Save changes</a>
                    </div>
                    <div class="list-group list-group-flush">
                        <div class="list-group-item">
                            <a href="/faculty/quiz/delete?id={{id}}"
                               class="text-danger"><strong>Delete Quiz</strong></a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const inputBox = document.getElementById('quiz-title');

        inputBox.addEventListener('input', function() {
            const dataToSend = {
                quiz_title: inputBox.value
            };
            console.log('data:', dataToSend);

            fetch('/faculty/quiz/add/qn/submit/title', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(dataToSend)
            })
                .then(response => response.json())
                .then(data => {
                console.log('Success:', data);
            })
                .catch((error) => {
                console.error('Error:', error);
            });
        });
    });
</script>

{% endblock %}