<!DOCTYPE html>
<html lang="en"
      dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ExaLearn | Faculty Login</title>

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots"
          content="noindex">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css8f03.css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&amp;display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />



    <!-- Preloader -->
    <link type="text/css"
          href="/static/vendor/spinkit.css"
          rel="stylesheet">

    <!-- Perfect Scrollbar -->
    <link type="text/css"
          href="/static/vendor/perfect-scrollbar.css"
          rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css"
          href="/static/css/material-icons.css"
          rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link type="text/css"
          href="/static/css/fontawesome.css"
          rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css"
          href="/static/css/preloader.css"
          rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css"
          href="/static/css/app.css"
          rel="stylesheet">


    <!-- My CSS -->
    <link type="text/css"
          href="/static/css/custom.css"
          rel="stylesheet">

    <!-- Quill Theme -->
    <link type="text/css"
          href="/static/css/quill.css"
          rel="stylesheet">
    <!-- Select2 -->
    <link type="text/css"
          href="/static/vendor/select2/select2.min.css"
          rel="stylesheet">
    <link type="text/css"
          href="/static/css/select2.css"
          rel="stylesheet">

</head>

<body>





    <body class="layout-default layout-login-centered-boxed">

        <div class="layout-login-centered-boxed__form card">
            <div class="d-flex flex-column justify-content-center align-items-center mt-2 mb-5 navbar-light">
                <a href="index.html"
                   class="navbar-brand flex-column mb-2 align-items-center mr-0"
                   style="min-width: 0">

                    <span class="avatar avatar-sm navbar-brand-icon mr-0">

                        <span class="avatar-title rounded bg-primary"><img src="/static/images/illustration/student/128/white.svg"
                                 alt="logo"
                                 class="img-fluid" /></span>

                    </span>

                    Luma
                </a>
                <p class="m-0">Create a new ExaLearn faculty account</p>
            </div>



            <form action="/faculty/register" method="post"
                  enctype="multipart/form-data">
                <div class="form-group">
                    <label class="text-label"
                           for="name_2">Name:</label>
                    <div class="input-group input-group-merge">
                        <input id="name_2"
                               name="name"
                               type="text"
                               class="form-control form-control-prepended"
                               placeholder="John Doe" required>
                        <div class="input-group-prepend">
                            <div class="input-group-text">


                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="text-label"
                           for="email_2">Email Address:</label>
                    <div class="input-group input-group-merge">
                        <input id="email_2"
                               type="email"
                               required=""
                               name="email"
                               class="form-control form-control-prepended"
                               placeholder="john@doe.com"  required>
                        <div class="input-group-prepend">
                            <div class="input-group-text">


                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="text-label"
                           for="password_2">Password:</label>
                    <div class="input-group input-group-merge">
                        <input id="password_2"
                               type="password"
                               name="password"
                               required=""
                               class="form-control form-control-prepended"
                               placeholder="Enter your password" required>
                        <div class="input-group-prepend">
                            <div class="input-group-text">


                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="text-label"
                           for="">Phone Number:</label>
                    <div class="input-group input-group-merge">
                        <input id="phone_2"
                               name="phone"
                               type="number"
                               required=""
                               class="form-control form-control-prepended"
                               placeholder="+91 1234567890" required>
                        <div class="input-group-prepend">
                            <div class="input-group-text">


                            </div>
                        </div>
                    </div>
                </div>



                <div class="form-group">
                    <label class="text-label"
                           for="password_2">Profile Image:</label>
                    <div class="input-group input-group-merge">
                        <input type="file" name="file" accept="image/*"/>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group text-center">
                    <button class="btn btn-primary mb-2"
                            type="submit">Create Account</button><br>
                    <a class="text-body text-underline"
                       href="{{url_for('faculty_login')}}">Have an account? Login</a>
                </div>
            </form>
        </div>




<!-- jQuery -->
<script src="/static/vendor/jquery.min.js"></script>

<!-- Bootstrap -->
<script src="/static/vendor/popper.min.js"></script>
<script src="/static/vendor/bootstrap.min.js"></script>

<!-- Perfect Scrollbar -->
<script src="/static/vendor/perfect-scrollbar.min.js"></script>

<!-- DOM Factory -->
<script src="/static/vendor/dom-factory.js"></script>

<!-- MDK -->
<script src="/static/vendor/material-design-kit.js"></script>

<!-- App JS -->
<script src="/static/js/app.js"></script>

<!-- Preloader -->
<script src="/static/js/preloader.js"></script>

<!-- Quill -->
<script src="/static/vendor/quill.min.js"></script>
<script src="/static/js/quill.js"></script>
<!-- Select2 -->
<script src="/static/vendor/select2/select2.min.js"></script>
<script src="/static/js/select2.js"></script>
</body>
</html>